<div class="cartBox">
    <h1 class="text-danger">sales</h1>
  
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th style="width: 25%;">Quantity</th>
                <th>Totle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartprodect; let index = index" >
                <td><img src="{{item.item.image}}" alt=""></td>
                <td>{{item.item.title}}</td>
                <td>{{item.item.price}} L.E</td>
                <td>{{item.quantity}}</td>
                <td>{{item.item.price * item.quantity}} L.E</td>
                <td></td>
               
            </tr>
        </tbody> 
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total : {{total}} LE</th>
               
            </tr>
        </tfoot>
    </table>
    
</div>

