<div class="box mt-5">
    <div class="my-2 w-25">
        <!-- <label for="" class="my-1">categories :</label>
        <select class="form-control"(change)="filterCategory($event)">
            <option value="All" selected>All</option>
            <option value="{{option}}" *ngFor="let option of category ">{{option}}</option>    
        </select> -->
        <app-select [data] ="category" [title]="' Categories :'" (selectvale)="filterCategory($event)"></app-select>
    </div>

  <div class="row">
    <div class="col-md-3 col-sm-12" *ngFor="let product of products" >
      <app-product [data]="product" (item)="addtocart($event)"></app-product>
    </div>
  </div>
  
   
</div>
